@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #DE8F23;
    --secondary-color: #C6D0D5;
    --accent1-color: #7D8385;
    --accent2-color: #454346;

    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #C6D0D5;
    --nav-link-color: #DE8F23;
    --nav-hover-link-color: #7D8385;
    --nav-hover-background-color: #DE8F23;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}