:root {
  --primary-color: darkblue;
  --secondary-color: white;
  --border-color: black;
  --shadow-color: gray;
  --main-width: 840px;
  --img-width: 105px;
  --padding-small: 2px;
  --padding-medium: 10px;
  --border: 1px solid var(--border-color)

}
nav {
  background-color: var(--primary-color);
  padding: var(--padding-medium);
}

nav a {
  color: var(--secondary-color);
  display: block;
  padding: var(--padding-medium);
}

h1 {
  color: var(--primary-color);
}

img {
    width: var(--img-width);
    height: auto;
    border: var(--border);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
}
p {
    padding: 0px;
}

main {
    width: var(--main-width);
    max-width: var(--main-width);
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: var(--img-width);
    height: auto;
    border: var(--border);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
}
footer {
  margin-top: 15px;
  border-top: var(--border);
  text-align: center;
}