* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: darkblue;
  --secondary-color: white;
  --border-color: black;
  --shadow-color: gray;
  --main-width: 840px;
  --img-width: 150px;
  --padding-small: 2px;
  --padding-medium: 10px;
  --border: 1px solid var(--border-color);
}
 header, main, aside, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: var(--primary-color);
  padding: var(--padding-medium);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

nav a {
  color: var(--secondary-color);
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: larger;
}

main {
    max-width: var(--main-width);
}

h1 {
  color: var(--primary-color);
  border-bottom: var(--border);
}

main img {
    width: var(--img-width);
    height: auto;
    border: var(--border);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
    float: right;
    margin: 0 0 1rem 1rem;
}

img {
    width: var(--img-width);
    height: auto;
    border: var(--border);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
}
p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}
aside img {
    width: 250px;
    height: auto;
}

aside h2 {
  position: absolute;
  top: 30px;
  left: 90px;

}


footer {
  margin-top: 15px;
  border-top: var(--border);
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 4rem;
  border: 10px;
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}